<footer class="footer">
  <div class="container footer-grid">

    <!-- LEFT LOGO -->
    <div class="footer-col">
      <img src="/images/logo.png" class="footer-logo" />
      <p>
        Hindu Jana Shakti works tirelessly at the grassroots of Hindu Society,
        creating awareness and protecting our cultural heritage. We believe that
        a nation disconnected from its roots cannot flourish.
      </p>
    </div>

    <!-- QUICK LINKS 1 -->
    <div class="footer-col">
  <h4>Quick Links</h4>
  <ul>
    <li><a href="/index.html"><i class="fas fa-check"></i> Home</a></li>
    <li><a href="/about.html"><i class="fas fa-check"></i> About us</a></li>
    <li><a href="/gallery/ttd.html"><i class="fas fa-check"></i> Gallery</a></li>
    <li><a href="/volunteer.html"><i class="fas fa-check"></i> Volunteer</a></li>
    <li><a href="/team.html"><i class="fas fa-check"></i> Our Team</a></li>
    <li><a href="/upcoming.html"><i class="fas fa-check"></i> Events</a></li>
    <li><a href="/gallery/articles.html"><i class="fas fa-check"></i> Articles</a></li>
    <li><a href="/contact.html"><i class="fas fa-check"></i> Contact</a></li>
  </ul>
</div>

    <!-- QUICK LINKS 2 -->
    <div class="footer-col">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="/terms.html"><i class="fas fa-check"></i> Terms and Conditions</a></li>
        <li><a href="/privacy.html"><i class="fas fa-check"></i> Privacy Policy</a></li>
        <li><a href="/refund.html"><i class="fas fa-check"></i> Refund/Cancellation Policy</a></li>
      </ul>
    </div>

    <!-- SOCIAL + CONTACT -->
    <div class="footer-col">
      <h4>Follow us on</h4>

      <div class="social-icons">
        <a href="https://www.youtube.com/@HinduJanaShakti" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>

        <a href="https://www.facebook.com/KumarAnnaSainyam" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>

        <a href="https://www.instagram.com/kumar_hjs" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>

        <a href="https://twitter.com/KumarHJS" target="_blank">
          <i class="fab fa-x-twitter"></i>
        </a>
      </div>

      <h4 class="contact-title">Contact</h4>
      <p class="contact-row">
        <i class="fas fa-envelope"></i>
        <a href="mailto:hindujanashakti@gmail.com">
          hindujanashakti@gmail.com
        </a>
      </p>
      <!-- <p class="contact-row">
        <i class="fas fa-envelope"></i>
        hindujanashakti@gmail.com
      </p>   -->
    </div>

  </div>

  <div class="footer-bottom">
    © Copyright 2025 by Hindu Jana Shakti
  </div>
</footer>